@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic");
.w-100 {
  width: 100% !important; }

.h-100 {
  height: 100vh !important; }

.t_size-14 {
  font-size: 2em; }

.t_size-12 {
  font-size: 1.9em; }

.title-h1 {
  color: #ffbe00; }

.title-h2 {
  color: #0194f7; }

.mg-3em {
  margin-top: 2em; }

p {
  font-family: "Montserrat" !important; }

.mg-left-0 {
  margin-left: 0 !important; }

.txt-center {
  text-align: center; }

@font-face {
  font-family: 'LubalinGraphStdBook';
  src: url("../fonts/LubalinGraphStd-Book.otf");
  src: url("../fonts/LubalinGraphStd-Book.otf") format("opentype"), url("../fonts/LubalinGraphStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  color: white;
  background: rgba(68, 150, 255, 0.63); }

::selection {
  color: white;
  background: rgba(68, 150, 255, 0.63); }

body::-webkit-scrollbar {
  width: 0.8em; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 6px 104px 66px black; }

body::-webkit-scrollbar-thumb {
  background-color: #0194f7;
  outline: #ff4466;
  border-radius: 50px; }

/*nav*/
.navbar-inverse {
  background-color: rgba(34, 34, 34, 0);
  border-color: 1px white; }

.navbar-inverse .navbar-nav > li > a {
  color: white;
  margin: 0px 6px;
  font-weight: bold !important; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: yellow;
    background-color: transparent;
    text-shadow: 4px 3px 4px gray; }
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #0194f7;
    background-color: transparent; }

.navbar-brand {
  display: none;
  -webkit-transition: all 1.8s ease-in-out;
  -o-transition: all 1.8s ease-in-out;
  transition: all 1.8s ease-in-out; }

#menu.active {
  background-color: #0194f7;
  padding: 0px 0px 6px;
  webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: translateZ(0); }
  #menu.active .navbar-brand {
    display: inherit;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
  #menu.active ul {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none; }

nav {
  font-size: 1.4em; }
  nav a {
    text-shadow: 4px 3px 4px black;
    font-size: 0.9em;
    color: white;
    margin: 0% 3%;
    font-family: "Muli";
    font-size: 18px; }
    nav a:hover {
      color: #0DC0C0; }

.navbar-collapse {
  margin-top: 1em; }

.navbar-brand img {
  width: 10em; }

.op {
  height: 50vh; }

.navbar-nav {
  -webkit-transform: translateX(-10em);
  -ms-transform: translateX(-10em);
  transform: translateX(-10em);
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

.item .bg-1 {
  background: url("../images/carrusell/bg-1.jpg") no-repeat;
  background-size: cover; }

.item .bg-2 {
  background: url("../images/carrusell/bg-2.jpg") no-repeat;
  background-size: cover; }

.item .bg-3 {
  background: url("../images/carrusell/bg-3.jpeg") no-repeat;
  background-size: cover; }

.item .bg-4 {
  background: url("../images/carrusell/bg-4.jpg") no-repeat;
  background-size: cover; }

.carousel-caption {
  text-align: left !important;
  top: 22%; }
  .carousel-caption h1 {
    font-size: 9rem; }

.carousel-inner .item:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.carousel-control {
  width: 10%; }

.carousel-control .fa {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block; }
  .carousel-control .fa.fa-chevron-right {
    right: 50%;
    margin-right: -10px; }

/**
 * Slider caption
 */
.carousel-caption h2 {
  margin: 5% auto 20px;
  color: #fff;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase; }

.carousel-caption p {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px; }

@media screen and (min-width: 768px) {
  .carousel-caption {
    right: 20%;
    left: 20%;
    bottom: 20%; } }

/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff; }
  .btn-transparent:hover {
    background-color: #fff; }

.btn-rounded {
  border-radius: 70px; }

.btn-large {
  padding: 11px 45px;
  font-size: 18px; }

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }

/*principal*/
.sanimate {
  position: fixed;
  text-align: center;
  height: 100vh;
  background: url("../images/sandra-azabache-fondo1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .sanimate .opacidad {
    background: url("../images/pattern.svg") repeat scroll 0 0 rgba(0, 0, 0, 0.49);
    width: 100%;
    height: 100vh; }
  .sanimate .canvas {
    margin-top: 16em;
    width: 35%; }
  .sanimate .title {
    font-family: "Montserrat";
    color: white;
    padding-left: 3%;
    font-size: 1.5em; }
  .sanimate .rs-icons {
    padding-top: calc(100vh - 15em);
    position: fixed;
    z-index: 10;
    right: 0px; }
    .sanimate .rs-icons .icon {
      text-align: center;
      display: block;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      line-height: 2em;
      color: white;
      font-size: 20px;
      border: 1px solid transparent;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .sanimate .rs-icons .icon:hover {
      border: 1px solid transparent;
      background-color: #ff4466;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

p {
  font-family: "Muli"; }

.messages-1 {
  margin: 7em; }

#Novedad {
  background: url("../images/Novedad/novedad-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  #Novedad .text-novedad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #Novedad .text-novedad p {
      color: white;
      text-shadow: 4px 3px 4px grey; }

.opi {
  padding: 7% 0% 0%;
  background-color: #FFFFFF; }
  .opi .foto {
    width: 100%;
    border-radius: 100%;
    height: 35em;
    margin-top: 8.6em;
    padding-right: 2.5em; }
  .opi h1 {
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    color: #0194f7; }
  .opi p {
    text-align: justify;
    font-size: 17.5px;
    color: #999999; }
  .opi .texto {
    text-align: center; }
    .opi .texto img {
      width: 20%;
      margin: 2px 2px;
      display: inline-block;
      padding: 11px; }
      .opi .texto img:nth-child(2) {
        margin-left: 9px; }

.content-all .content-img {
  width: 100%;
  border: 1px solid #0194f7;
  position: relative;
  overflow: hidden; }
  .content-all .content-img img {
    width: 100%;
    height: 42rem; }
  .content-all .content-img .content-resp {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0; }
  .content-all .content-img .content-1 {
    background: rgba(0, 100, 250, 0.5);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-left: -830px;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; }
  .content-all .content-img .content-2 {
    background: rgba(0, 100, 250, 0.5);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-left: -800px;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms; }
  .content-all .content-img .content-3 {
    background: rgba(0, 100, 250, 0.5);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-left: -780px;
    margin-top: -450px;
    -webkit-transition: all 900ms;
    -o-transition: all 900ms;
    transition: all 900ms;
    -webkit-box-shadow: 0px 1px 20px -5px black;
    box-shadow: 0px 1px 20px -5px black; }
  .content-all .content-img .content-4 {
    background: rgba(0, 100, 250, 0.5);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-left: -750px;
    margin-top: -450px;
    -webkit-transition: all 700ms;
    -o-transition: all 700ms;
    transition: all 700ms; }

.content-img:hover {
  border: none; }

.content-img:hover .content-1 {
  width: 412%;
  -webkit-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms; }

.content-img:hover .content-1 {
  width: 412%;
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms; }

.content-img:hover .content-2 {
  width: 412%;
  -webkit-transition: all 30ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }

.content-img:hover .content-3 {
  width: 412%;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }

.content-img:hover .content-4 {
  width: 412%;
  -webkit-transition: all 700ms;
  -o-transition: all 700ms;
  transition: all 700ms; }

.content-img:hover img {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  opacity: 0.8; }

.content-txt {
  position: absolute;
  top: 0;
  width: 60%;
  padding: 5px;
  z-index: 10;
  color: white;
  text-align: center;
  margin: 5% auto 0; }

.content-txt h4 {
  font-size: 2.2em;
  opacity: 0;
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }

.content-txt p {
  font-size: 10px;
  opacity: 0;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  -webkit-transform: scale(1.2);
  ttransform: scale(1.2); }

.content-img:hover h4 {
  opacity: 1;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7); }

.content-img:hover p {
  opacity: 1;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

#equipos {
  min-height: 100vh;
  padding: 7% 0% 0%; }
  #equipos h1 {
    color: #ffbe00;
    margin-bottom: 1.5em; }

#servicios {
  padding: 7% 0% 7%; }
  #servicios .box img {
    width: 100%;
    height: 10em; }
  #servicios .box h3 {
    color: #ffbe00; }
  #servicios p {
    text-align: justify; }

.sobremip {
  font-family: "Montserrat";
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 0; }

.mistrabajos h1 {
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  color: white; }

.mistrabajos .textit {
  font-size: 17px;
  color: white; }

.cbp-l-grid-work-title {
  color: #0194f7 !important;
  font-family: "Muli" !important; }

/*
*/
.form {
  position: relative; }
  .form input {
    margin: 0;
    width: 100%; }
  .form ::-webkit-input-placeholder {
    color: white; }
  .form :-moz-placeholder {
    /* Firefox 18- */
    color: white; }
  .form ::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  .form :-ms-input-placeholder {
    color: white; }
  .form span {
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 6px; }

.btnpost {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .btnpost span {
    color: white;
    font-size: 15px;
    padding: 1.5rem 0.5rem; }
  .btnpost button {
    color: black;
    margin-top: 1rem;
    border-radius: 25px;
    background: white;
    font-weight: bold; }
    .btnpost button:hover {
      background: #0194f7;
      color: black; }

.text-mail {
  background-image: url(../images/Contactos/info.svg); }

.text-cel {
  background-image: url(../images/Contactos/tel.svg); }

.text-map {
  background-image: url(../images/Contactos/mundo.svg); }

.text-stree {
  background-image: url(../images/Contactos/dir.svg); }

.icon-contacto {
  margin-top: 20px; }
  .icon-contacto li {
    list-style: none;
    padding-left: 40px;
    line-height: 30px;
    margin-bottom: 20px;
    background-repeat: no-repeat; }
    .icon-contacto li a {
      color: white;
      font-size: 1.5rem; }
      .icon-contacto li a:hover {
        color: #0194f7; }
      .icon-contacto li a .style-span {
        font-size: 1.5rem; }
  .icon-contacto span {
    color: white;
    margin-left: 5rem;
    font-size: 1.1rem; }
  .icon-contacto .siguenos a {
    display: inline-block;
    width: 2.5rem;
    height: 1rem;
    margin-left: 1.5rem; }
    .icon-contacto .siguenos a i {
      color: white; }
      .icon-contacto .siguenos a i:hover {
        color: #0194f7; }

.mapa iframe {
  width: 100%; }

input {
  color: #0194f7;
  font-size: 1.8rem !important;
  border-bottom: 1px solid #0194f7; }

input:hover, input:focus {
  border-bottom: 1px solid #0194f7 !important; }

::-webkit-input-placeholder {
  color: #9FA1A4;
  opacity: 0.6;
  font-size: 1.2rem; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #9FA1A4; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9FA1A4; }

:-ms-input-placeholder {
  color: #9FA1A4; }

footer {
  background-color: #0194f7;
  padding: 1em 0em;
  color: white; }

.contacto {
  background-color: black;
  padding: 5em 0em; }
  .contacto h1 {
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    color: white; }
  .contacto h3 {
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    color: white;
    line-height: 50px; }
  .contacto .contact {
    color: #D2D2D2;
    text-align: left;
    font-size: 17px;
    line-height: 30px; }
    .contacto .contact span {
      font-family: "Montserrat";
      font-weight: 400;
      text-align: center;
      color: white; }
  .contacto span {
    font-family: "Montserrat"; }
  .contacto a {
    color: #D2D2D2;
    font-size: 17px;
    line-height: 30px;
    font-family: "Montserrat"; }
    .contacto a:hover {
      color: white;
      text-decoration: none; }
  .contacto .fp {
    padding-right: 15px; }

.spacio {
  display: none; }

.grid {
  margin-top: 5px !important; }

.mg-3 {
  margin-top: 4em; }

.form-group {
  position: relative; }
  .form-group span {
    color: #444;
    font-size: 2rem;
    position: absolute;
    right: 20px;
    top: 6px; }

footer a {
  PADDING: 0% 2%;
  color: white;
  font-size: 17px;
  line-height: 30px;
  font-family: "Montserrat"; }
  footer a:hover {
    color: white;
    text-decoration: none; }

footer .txt-al {
  text-align: right; }

.icon-view {
  font-size: 1.5em; }

.descrip-view {
  font-size: 17px;
  line-height: 2;
  color: #8E8D8D; }

.cbp-l-project-title {
  color: #0194f7 !important; }

.cbp-l-project-subtitle {
  color: #8E8D8D !important;
  font-family: "Muli" !important; }

.viewmore {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .viewmore span {
    font-size: 0.7em;
    font-family: "Montserrat";
    padding-left: 10px;
    line-height: 30px; }
  .viewmore .btn-default:hover, .viewmore .btn-default:focus, .viewmore .btn-default:active, .viewmore .btn-default:active:hover, .viewmore .btn-default:active:focus, .viewmore .btn-default:active.focus, .viewmore .btn-default.active:hover, .viewmore .btn-default.active:focus, .viewmore .btn-default.active.focus, .viewmore .open > .btn-default.dropdown-toggle:hover, .viewmore .open > .btn-default.dropdown-toggle:focus, .viewmore .open > .btn-default.dropdown-toggle.focus {
    color: white;
    background-color: #0194f7;
    border-color: #0194f7;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .viewmore .btn-default {
    color: #0194f7;
    background-color: white;
    border-color: #0194f7;
    margin: 5em 0em; }

.farriba {
  text-decoration: none; }

.farriba:active, .farriba:focus, .farriba:visited {
  text-decoration: none; }

.arriba {
  color: white;
  font-size: 20px;
  background-color: #0194f7;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px; }

.inline {
  display: inline-block; }

.pdr {
  padding-right: 15px; }

.cv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cv1 .btn-default:hover, .cv1 .btn-default:focus, .cv1 .btn-default:active, .cv1 .btn-default:active:hover, .cv1 .btn-default:active:focus, .cv1 .btn-default:active.focus, .cv1 .btn-default.active:hover, .cv1 .btn-default.active:focus, .cv1 .btn-default.active.focus, .cv1 .open > .btn-default.dropdown-toggle:hover, .cv1 .open > .btn-default.dropdown-toggle:focus, .cv1 .open > .btn-default.dropdown-toggle.focus {
    color: white;
    background-color: #0194f7;
    border-color: #0194f7;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .cv1 .btn-default {
    color: #0194f7;
    background-color: transparent;
    border-color: #0194f7;
    margin: 3em 0em;
    font-size: 1.2em; }
  .cv1 span {
    padding-left: 10px; }

.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.version {
  margin-left: 10px; }

h6 {
  font-family: "Montserrat";
  font-size: 15px; }

@media screen and (min-width: 1199px) {
  .carousel-inner .item {
    max-height: 100vh; } }

@media screen and (min-width: 768px) {
  .carousel-control .fa {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px; } }

@media screen and (min-width: 768px) {
  .carousel-control .fa-chevron-left {
    margin-left: -15px; } }

@media (min-width: 991px) and (max-width: 1199px) {
  .navbar-nav {
    -webkit-transform: translateX(-8em);
    -ms-transform: translateX(-8em);
    transform: translateX(-8em);
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
  .gr, .gr:hover, .wb, .wb:hover {
    background-size: 80%; }
  .ds {
    height: 28em; }
  .cbp-item {
    width: 50% !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  canvas {
    margin-top: 22em;
    width: 45%; }
  .navbar-nav {
    -webkit-transform: translateX(-2.5em);
    -ms-transform: translateX(-2.5em);
    transform: translateX(-2.5em);
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
  .gr, .gr:hover, .wb, .wb:hover {
    background-size: 82%; }
  .habilidades .ds {
    height: 21em; }
  .cbp-item {
    width: 100% !important; }
  .cbp-item {
    width: 50% !important; }
  footer {
    text-align: center; }
    footer .txt-al {
      text-align: center; }
  .carousel-caption h2 {
    font-size: 5rem; }
  .carousel-caption p {
    font-size: 2rem; } }

@media (max-width: 767px) {
  .carousel-caption h2 {
    font-size: 2rem; }
  .carousel-caption p {
    font-size: 1.3rem;
    margin-bottom: 10px; }
    .carousel-caption p .btn-brochure {
      font-size: 1.2rem;
      padding: 5px 10px; }
  .navbar-nav {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
  .navbar-toggle {
    margin-top: 18px;
    margin-bottom: -16px; }
  .navbar-toggle:hover {
    cursor: pointer; }
  .navbar-toggle.open .icon-bar {
    background: #fff; }
  .navbar-collapse {
    border-top: 0px; }
  .navbar-toggle.open .icon-bar:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10px;
    -moz-transform-origin: 10px;
    -ms-transform-origin: 10px;
    -o-transform-origin: 10px;
    transform-origin: 0px; }
  .navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0; }
  .navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8px;
    -moz-transform-origin: 8px;
    -ms-transform-origin: 8px;
    -o-transform-origin: 8px;
    transform-origin: 2.5px; }
  .icon-bar {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    display: block;
    width: 26px;
    height: 2px;
    margin: 0 0 5px;
    background: #fff; }
  /* Bounce To Right */
  .hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(251, 247, 247, 0.71);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white; }
  .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
  .hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(251, 247, 247, 0.71);
    border-radius: 5px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-bounce-to-right:active, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:hover {
    color: #fff; }
  .hvr-bounce-to-right:active:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
  .hvr-bounce-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(51, 51, 51, 0); }
  .navbar-inverse .navbar-toggle {
    border-color: rgba(51, 51, 51, 0); }
  #menu.active img {
    width: 60px; }
  .gr, .gr:hover, .wb, .wb:hover {
    background-size: 85%; }
  .habilidades .ds {
    height: 29em; }
  .title {
    font-size: 1em; }
  .cbp-item {
    width: 100% !important; }
  .content-all .content-img img {
    height: 22rem !important; }
  .content-resp {
    width: 800px !important;
    height: 800px !important;
    position: absolute !important;
    top: 0 !important; }
  .icon-contacto {
    padding-left: 0px; }
    .icon-contacto li a {
      font-size: 1.1rem; }
    .icon-contacto .text-mail, .icon-contacto .text-map {
      display: none; }
  .brochure-footer {
    font-size: 1.3rem; }
  footer {
    text-align: center; }
    footer h6 {
      text-align: center; }
    footer .txt-al {
      text-align: center; } }
