footer
			.container
				.col-md-3
					h6 Román © - 2018
				.col-md-6.text-center
					a.version(href="index.html") Español
					a.version(href="index.html") English
				.col-md-3.txt-al
					a(href='https://www.facebook.com/JEWJ-Contratistas-Generales-125853971269546/' target='_blank')
						.fa.fa-facebook.fa-2x
					a(href='https://www.linkedin.com/in/jorge-luis-ca%C3%B1azaca-vargas-14159a136/' target='_blank')
						.fa.fa-linkedin.fa-2x
					a(href='https://plus.google.com/u/0/114423434853652120809' target='_blank')
						.fa.fa-google-plus.fa-2x
					a(href='https://www.youtube.com/channel/UCu-11MpnfKN1_ZDU8EKQStA?disable_polymer=true' target='_blank')
						.fa.fa-youtube-play.fa-2x
