footer
			.container
				.col-md-3
					h6 Sarita Román © - 2016
				.col-md-6.text-center
					a.version(href="index.html") Español
					a.version(href="index.html") English
				.col-md-3.txt-al
					a(href='https://www.facebook.com/sandramar02' target='_blank')
						.fa.fa-facebook
					a(href='https://pe.linkedin.com/in/sandramar02' target='_blank')
						.fa.fa-linkedin
					a(href='https://www.behance.net/sandramar02' target='_blank')
						.fa.fa-behance
					a(href='https://github.com/sazabache' target='_blank')
						.fa.fa-github
					a(href='https://plus.google.com/u/0/109348762659589067279' target='_blank')
						.fa.fa-google-plus
