header
    nav#menu.navbar.navbar-inverse.navbar-fixed-top
      .container.padd
        .navbar-header
          button.navbar-toggle(data-toggle="collapse" data-target="#collapse" type="button")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand
            a.animatedParent(href="#inicio")
              img.animated.fadeInDownShort.logotype(src="images/mainlogo-04.svg")
        .collapse.navbar-collapse#collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.sec.hvr-bounce-to-right(href="#sobremi") About me
            li
              a.sec1.hvr-bounce-to-right(href="#mistrabajos") My Projects
            li
              a.sec2.hvr-bounce-to-right(href="#habilidades") My skills
            li
              a.sec3.hvr-bounce-to-right(href="#contacto") Contact me