header
    nav#menu.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container.padd
        .navbar-header
          button.navbar-toggle(data-toggle="collapse" data-target="#collapse" type="button")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand
            a.animatedParent(href="#inicio")
              img.animated.fadeInDownShort.logotype(src="images/logo/logo-txt1.png")

        #collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.active.hidden
              a(href="")
            li 
              a.sec.hvr-bounce-to-right(href="#sobremi") NOSOTROS
            li
              a.sec1.hvr-bounce-to-right(href="#equipos") EQUIPOS
            li
              a.sec2.hvr-bounce-to-right(href="#servicios") SERVICIOS
            li
              a.sec3.hvr-bounce-to-right(href="#mistrabajos") GALERIA
            li
              a.sec5.hvr-bounce-to-right(href="#contacto") CONTACTO
