doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title JE&WJ CONTRATISTAS GENERALES E.I.R.L.
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
		//link(href="css/animations.min.css" rel="stylesheet")
		link(href="css/animations-ie-fix.css" rel="stylesheet")
		link(href="css/bg-perpective.min.css" rel="stylesheet")
		link(href="css/cubeportfolio.min.css" rel="stylesheet")
		link(href="css/hovereffects.css" rel="stylesheet")
		link(href="css/animations.css" rel="stylesheet" type="text/css")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css")
		link(href="css/main.css" rel="stylesheet" type="text/css")
		link(href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css')
		link(link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,800" rel="stylesheet" type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&amp;subset=cyrillic,latin-ext" rel="stylesheet"  type="text/css")
		link(href='../fonts/LubalinGraphStd-Book.otf')
		link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
		meta(name="description" content="JE & WJ, JEWJ")
		meta(name="author" content="Sarita Román Colonio")
		link(rel="icon" type="image/png" href="images/logo/logotipo.png")
	body(data-spy="scroll" data-target=".navbar" data-offset="50")
		include head.jade
		#inicio.Hero
			#img-carousel.carousel.slide(data-ride="carousel")
				ol.carousel-indicators
					li.active(data-target="#img-carousel" data-slide-to="0")
					li(data-target="#img-carousel" data-slide-to="1")
					li(data-target="#img-carousel" data-slide-to="2")
					li(data-target="#img-carousel" data-slide-to="3")

				.carousel-inner.animatedParent(role="listbox")
					.item.active
						img.w-100(src="images/carrusell/bg-1.jpg" , alt="")
						.carousel-caption.d-none.d-md-block
							h2.animated.bounceInDown DRONES / UAV /RPAS
							p.animated.bounceInUp Mapeo profesional 
							p.animated.fadeInUp
									a(href="docs/BROCHURE_JEWJ.pdf" target="_blank" ).btn-brochure.btn.btn-transparent.btn-rounded.btn-large ¡Descarga Brochure!
					.item
						img.w-100(src="images/carrusell/bg-2.jpg" , alt="")
						.carousel-caption.d-none.d-md-block
							h2.animated.bounceInDown GEODESIA
							p.animated.bounceInUp Precisiones topográficas
							p.animated.fadeInUp
									a(href="docs/BROCHURE_JEWJ.pdf" target="_blank" ).btn-brochure.btn.btn-transparent.btn-rounded.btn-large ¡Descarga Brochure!
					.item
						img.w-100(src="images/carrusell/bg-3.jpeg" , alt="")
						.carousel-caption.d-none.d-md-block
							h2.animated.bounceInDown FOTOGRAMETRÍA
							p.animated.bounceInUp Restitución Fotogramétrica
							p.animated.fadeInUp
									a(href="docs/BROCHURE_JEWJ.pdf" target="_blank" ).btn-brochure.btn.btn-transparent.btn-rounded.btn-large ¡Descarga Brochure!
					.item
						img.w-100(src="images/carrusell/bg-4.jpg" ,  alt="")
						.carousel-caption.d-none.d-md-block
							h2.animated.bounceInDown  CARTOGRAFÍA
							p.animated.bounceInUp  Catastro
							p.animated.fadeInUp
									a(href="docs/BROCHURE_JEWJ.pdf" target="_blank" ).btn-brochure.btn.btn-transparent.btn-rounded.btn-large ¡Descarga Brochure!

				a.left.carousel-control(role="button" data-slide="prev" href="#img-carousel")
					i.fa.fa-chevron-left(aria-hidden="true")
					span.sr-only Previus
				a.right.carousel-control(role="button" data-slide="next" href="#img-carousel")
					i.fa.fa-chevron-right(aria-hidden="true")
					span.sr-only Next
		#Break-1
			.container
				.col-md-12.col-sm-12.col-xs-12
					.messages-1.text
						img.w-100(src="images/logo/logo-txt.png")
						

		#Novedad
			.container
				.text-novedad
					P.text.t_size-12 
						span.q-marks.t_size-12 "
						| Las decisiones más eficaces se toman en base a datos precisos.
						span.q-marks.t_size-14 "
		#sobremi.opi
			.container.animatedParent
				h1.sobremi.animated.fadeInDown ¿Quienes somos?
				.col-md-7.col-sm-6.col-xs-12
					.foto
						iframe.w-100.animated.fadeInUp(width="560" height="355" src="https://www.youtube.com/embed/HvlMPu4YdXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

				.col-md-5.col-sm-6.col-xs-12.texto
					.desc

						p.sobremi.animated.fadeInDown Un equipo ...
						.letrero
							b
								span1.
									Comprometido <br>
									Innovador <br>
									Eficiente <br>
									Profesional <br>
									Calidad
						
						p.animated.fadeInDown JE&WJ somos una empresa que proporciona servicios en Sistemas de Información Geográfica con innovación tecnológica y desarrollo del personal. Realizamos servicios de levantamiento topográfico a través de Vuelos Aéreos no Tripulados (RPAS). Creemos que nuestra principal virtud lo constituye nuestro equipo humano, formado por Ingenieros, Técnicos en Cartografia y otros personales técnico especializados, todos garantizan la calidad del servicio que ofrecemos, siendo esto uno de los principales motivos de nuestro crecimiento en los últimos años.

						img.icono(src="images/Nosotros/icon_drone2.png")
						img.icono(src="images/Nosotros/icon_topo2.png")
						img.icono(src="images/Nosotros/icon_mapa2.png")
		#equipos
			.container.text
				.animatedParent
					h1.sobremi.animated.bounceIn.slower Nuestros Equipos
					p EQUIPOS 
					.col-md-3.col-sm-6.col-xs-12
						.box
							.content-all
								.content-img
									img(src="images/Equipos/EQTOPOGRAFICO.png")
									.content-txt
										h4 Estación Fotogramétrica
										p Estaciones fotogramétricas para la captura de elementos (Restitución) de imágenes de drone en formato digital. Además, estas estaciones cuentan con alto potencial de rendimiento, ya que están implementadas con hardware de última generación.
									.content-1.content-resp
									.content-2.content-resp
									.content-3.content-resp
									.content-4.content-resp
													


					.col-md-3.col-sm-6.col-xs-12
						.box
							.content-all
								.content-img
									img(src="images/Equipos/EQGEODESICO.png")

									.content-txt
										h4 Equipamiento Geodésico
										p La empresa cuenta con equipos geodésicos modernos y de alta precisión y con certificados de operatividad. Estos equipos trabajan con distintos métodos geodésicos como rtk, estático rápido, cinemático, generamos puntos geodésicos de orden C, B.
									.content-1.content-resp
									.content-2.content-resp
									.content-3.content-resp
									.content-4.content-resp
										

					.col-md-3.col-sm-6.col-xs-12
						.box
							.content-all
								.content-img
									img(src="images/Equipos/EQDRONE.png")
									.content-txt
										h4 Equipamiento Drones
										p Contamos con UAVs de distintas características como ala fija(Bramor) y multirotores(Geox4 y Geox6). Los cuales generan imágenes de alta resolución y cubren grandes áreas (800ha/1 día) de trabajo a distintas alturas de vuelo.
									.content-1.content-resp
									.content-2.content-resp
									.content-3.content-resp
									.content-4.content-resp


					.col-md-3.col-sm-6.col-xs-12
						.box
							.content-all
								.content-img
									img(src="images/Equipos/EQPOSTPROCESO.png")
									.content-txt
										h4 Equip. Post - Proceso
										p Nuestros softwares de post-proceso y procesamiento de imágenes brindan una calidad muy óptima para el área de estudio realizada, esto nos permite tener precisiones topográficas.
									.content-1.content-resp
									.content-2.content-resp
									.content-3.content-resp
									.content-4.content-resp

		#servicios
			.container.text
				h1.title-h2 Nuestros Servicios
				.row-cont.mg-3em
					.col-md-4.col-sm-6.col-xs-12

						.box.animatedParent
							img.animated.fadeInDown(src="images/servicios/topo.jpg")
							h3 Topografía / Cartografía
							p Contamos con un equipo de dilatada experiencia en el sector de la topografía en las fases de estudio, diseño, ejecución  o asistencia técnica para Lima y el resto del territorio. Asesoramos y ayudamos a conocer con exactitud dónde está su parcela, qué superficie tiene, acotamos sus diferencias con el Catastro y Registro de la Propiedad y su escritura y realizamos georeferenciación de sus propiedades, realizamos informes de validación gráfica alternativa. 
					.col-md-4.col-sm-6.col-xs-12
						.box.animatedParent
							img.animated.fadeInUp(src="images/servicios/foto.jpg")
							h3 Fotogrametría
							p Apartir de tecnologías como fotogrametría creamos nubes de puntos precisas para distintos sectores como la arqueología, industria, patrimonio, arquitectura, obra civil, naval o cartografía.Posteriormente se procesa esta información hasta obtener una documentación precisa y visualmente agradable. Entregamos tanto soluciones 2D, secciones,plantas, alzados etc, como soluciones 3D para BIM (modelados 3D o impresión 3D).
					.col-md-4.col-sm-6.col-xs-12

						.box.animatedParent
							img.animated.fadeInDown(src="images/servicios/drone.jpg")
							h3 Drones / UAV / RPAS
							p Implementamos diferentes vehículos aéreos no tripulados homologados y sensores (cámaras fotográficas) en ámbitos como la industria, arqueología, obra civil, patrimonio, agricultura, cartografía o arquitectura. Realizamos soluciones para cartografía y topografía obteniendo ortofotografías de alta resolución y diferentes productos cartográficos.

		#mistrabajos.mistrabajos
			.container
				.masthead.segment
					.ui.page.grid
						.column
							.introduction
								h1.ui.inverted.header
										span.text Galerias

								.row
									.grid(style="max-width: 980px; width: 97%; margin: 100px auto;")
										#js-filters-awesome-work.cbp-l-filters-work
											.cbp-filter-item.cbp-filter-item-active(data-filter='*') TODOS
											.cbp-filter-item(data-filter='.carto') Cartografia
												.cbp-filter-counter
											.cbp-filter-item(data-filter='.topo') Topografía
												.cbp-filter-counter
											.cbp-filter-item(data-filter='.foto') Fotogrametria
												.cbp-filter-counter
											.cbp-filter-item(data-filter='.social') Social
												.cbp-filter-counter
											.cbp-filter-item(data-filter='.inter') Internacional
												.cbp-filter-counter
											.cbp-filter-item(data-filter='.integ') Intergración
												.cbp-filter-counter
											


										#js-grid-awesome-work.cbp.cbp-l-grid-work
											.cbp-item.foto
														.cbp-item-wrapper
															a.cbp-caption.cbp-singlePage(href='https://sarita-coder.github.io/project1/', rel='nofollow')
																.cbp-caption-defaultWrap
																	img.wdt(src='images/Galerias/project1.jpg', alt='')
																.cbp-caption-activeWrap
															.cbp-l-grid-work-title Cesel Ingenieros
															.cbp-l-grid-work-desc Tramo Tuberia de Gas.

											.cbp-item.topo
												.cbp-item-wrapper
													a.cbp-caption.cbp-singlePage(href='https://sarita-coder.github.io/project2/', rel='nofollow')
														.cbp-caption-defaultWrap
															img.wdt(src='images/Galerias/project2.jpg', alt='')
														.cbp-caption-activeWrap
													.cbp-l-grid-work-title Villa El Salvador
													.cbp-l-grid-work-desc Proyecto Arquitectura.

											.cbp-item.social
												.cbp-item-wrapper
													a.cbp-caption.cbp-singlePage(href='https://sarita-coder.github.io/project3/', rel='nofollow')
														.cbp-caption-defaultWrap
															img.wdt(src='images/Galerias/project3.jpg', alt='')
														.cbp-caption-activeWrap
													.cbp-l-grid-work-title Navidad 2016
													.cbp-l-grid-work-desc Carabayllo.

											.cbp-item.foto
												.cbp-item-wrapper
													a.cbp-caption.cbp-singlePage(href='https://sarita-coder.github.io/project4/', rel='nofollow')
														.cbp-caption-defaultWrap
															img.wdt(src='images/Galerias/project4.jpg', alt='')
														.cbp-caption-activeWrap
													.cbp-l-grid-work-title Electro Perú
													.cbp-l-grid-work-desc Represa Tablachaca.

											.cbp-item.inter
												.cbp-item-wrapper
													a.cbp-caption.cbp-singlePage(href='https://sarita-coder.github.io/project5/', rel='nofollow')
														.cbp-caption-defaultWrap
															img.wdt(src='images/Galerias/project5.jpg', alt='')
														.cbp-caption-activeWrap
													.cbp-l-grid-work-title Commercial UAV Expo - 2017
													.cbp-l-grid-work-desc Las Vegas - EEUU.
											
											.cbp-item.topo
												.cbp-item-wrapper
													a.cbp-caption.cbp-singlePage(href='https://sarita-coder.github.io/project6/', rel='nofollow')
														.cbp-caption-defaultWrap
															img.wdt(src='images/Galerias/project6.jpg', alt='')
														.cbp-caption-activeWrap
													.cbp-l-grid-work-title Enel Perú
													.cbp-l-grid-work-desc Red de Gas.

											.cbp-item.carto
												.cbp-item-wrapper
													a.cbp-caption.cbp-singlePage(href='https://sarita-coder.github.io/project7/', rel='nofollow')
														.cbp-caption-defaultWrap
															img.wdt(src='images/Galerias/project7.jpg', alt='')
														.cbp-caption-activeWrap
													.cbp-l-grid-work-title Calidda
													.cbp-l-grid-work-desc Cartografia de Presición.

											.cbp-item.integ
												.cbp-item-wrapper
													a.cbp-caption.cbp-singlePage(href='https://sarita-coder.github.io/project8/', rel='nofollow')
														.cbp-caption-defaultWrap
															img.wdt(src='images/Galerias/project8.jpg', alt='')
														.cbp-caption-activeWrap
													.cbp-l-grid-work-title Equipo de Trabajo
													.cbp-l-grid-work-desc Año Nuevo - 2016.

										#js-loadMore-awesome-work.cbp-l-loadMore-button
											a.cbp-l-loadMore-link(href='http://voxell.hol.es/project1/' rel="nofollow")
												span.cbp-l-loadMore-defaultText MÁS PROYECTOS
												span.cbp-l-loadMore-loadingText CARGANDO...
												span.cbp-l-loadMore-noMoreLoading PRONTO MÁS PROYECTOS
								.ui.hidden.divider   


		#habilidades.habilidades
			.container


		#contacto.contacto
			.container
				h1 Contacte con Nosotros
				.col-md-6.col-xs-12
					ul.icon-contacto
						li.text-mail
							a.email-form(href="mailto:wilson.munoz@jewjcontratistas.com.pe") comunicaciones@ jewjcontratistas.com.pe
						li.text-cel
							a(href="#!") (+51 721 6755)
						li.text-map
							a(href="#!") www.wewjcontratistas.com.pe
						li.text-stree
							a(href="#!") Av. los Olivos Mza. a Lote. 7 Asoc Villa el Amauta, SMP, Lima 31,Perú.
						.siguenos
							p
								span Síguenos en: 
							p.txt-center
								a(href="https://www.facebook.com/JEWJ-Contratistas-Generales-125853971269546/")
									i.fa.fa-facebook.fa-2x.fp
								a(href="https://www.linkedin.com/in/jorge-luis-ca%C3%B1azaca-vargas-14159a136/")
									i.fa.fa-linkedin.fa-2x.fp
								a(href="https://www.youtube.com/channel/UCu-11MpnfKN1_ZDU8EKQStA?disable_polymer=true")
									i.fa.fa-youtube-play.fa-2x.fp
								a(href="https://plus.google.com/u/0/114423434853652120809" target="_blank")
									i.fa.fa-google-plus.fa-2x.fp

				.col-md-6.col-xs-12.mg-3em
					.formulario
						form(name="email_form" id="email_form"  method="post" onsubmit="return false" action="mensajero.php" )
							.form-group
								input(type="text" class="form-control"  maxlength="250" placeholder="Nombre y apellidos" name="nombre" id="apenom2" required="required"  class="only_letters")
								span *
							.form-group
								input(type="text"  maxlength="250" class="form-control" placeholder="Empresa" name="empresa"  value="" id="enterprise"  required="required" )
								span *
							.form-group
								input(type="email" class="form-control" placeholder="Correo electrónico"  name="email2" id="email2" maxlength="250" title="Introduzca un correo electrónico" required="required" )
								span *
							.form-group
								input(type="text" class="form-control" placeholder="Requerimiento" name="mensaje" id="request"  required="required" maxlength="500" )
								span.carac 500 car.
							.form-group
								input(type="tel"  class="form-control" placeholder="Teléfono / Celular : 01 772 2333 /999 333 222 " name="telefono" id="phone2" maxlength="40" class="only_phone" )
								span *
							
							.btnpost
								span.info-obli * Información obligatoria
								button.btn(type="submit" name="btnsend" id="btnsend" value="enviar") Enviar

			.container
				.row
					.col-xs-12
						.mapa.mg-3em
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15611.420566829986!2d-77.10535376329291!3d-11.98452367408559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTHCsDU5JzA0LjQiUyA3N8KwMDUnNDcuOCJX!5e0!3m2!1sen!2spe!4v1522516105081" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)

			.text-center.cv1.animatedParent
				a.animated.fadeInDownShort(href="docs/BROCHURE_JEWJ.pdf" target="_blank" )
					button.btn.btn-default.vw(type="button")
						i.fa.fa-download.brochure-footer
							span Descarga Nuestra Info
			.text-center.cv.animatedParent
				a.farriba(href="#")
					.arriba
						i.fa.fa-angle-double-up
						span Arriba
		include footer.jade
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='js/css3-animate-it.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='https://code.createjs.com/createjs-2015.11.26.min.js')
	script(src='js/jquery.cubeportfolio.min.js')
	script(src='js/main.js')
	script(src='js/menu-scroll.js')
	script(src='js/final.js')
	
