@media (max-width: 767px){
	canvas{
		margin-top: 19em;
		width: 60% !important;
	}
	.navbar-nav{
		transform: translateX(0%);
		transition: all 0.8s ease-in-out;
	}
	.navbar-toggle{
		margin-top: 18px;
		margin-bottom: -16px;
	}
	.navbar-toggle:hover {
  		cursor: pointer; 
  	}
	.navbar-toggle.open .icon-bar {
  		background: #fff; 
  	}
  	.navbar-collapse {
    	border-top: 0px;
	}
  	.navbar-toggle.open .icon-bar:first-child {
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-transform-origin: 10px;
	    -moz-transform-origin: 10px;
	    -ms-transform-origin: 10px;
	    -o-transform-origin: 10px;
	    transform-origin: 0px; 
	}
	.navbar-toggle.open .icon-bar:nth-child(2) {
	    opacity: 0; 
	}
	.navbar-toggle.open .icon-bar:nth-child(3) {
	    -webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    -webkit-transform-origin: 8px;
	    -moz-transform-origin: 8px;
	    -ms-transform-origin: 8px;
	    -o-transform-origin: 8px;
	    transform-origin: 2.5px;
	}

	.icon-bar {
	  -webkit-transition-property: all;
	  -moz-transition-property: all;
	  transition-property: all;
	  -webkit-transition-duration: 0.2s;
	  -moz-transition-duration: 0.2s;
	  transition-duration: 0.2s;
	  display: block;
	  width: 26px;
	  height: 2px;
	  margin: 0 0 5px;
	  background: #fff; 
	}

	 /* Bounce To Right */
	.hvr-bounce-to-right {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  position: relative;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	}
	.hvr-bounce-to-right:before {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(251, 247, 247, 0.71);
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transform-origin: 0 50%;
	  transform-origin: 0 50%;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
	  color: white;
	}
	.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}
	.hvr-bounce-to-right{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-osx-font-smoothing:grayscale;
	position:relative;
	-webkit-transition-property:color;
	transition-property:color;
	-webkit-transition-duration:.5s;
	transition-duration:.5s}
	.hvr-bounce-to-right:before{
		content:"";position:absolute;
		z-index:-1;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background: rgba(251, 247, 247, 0.71);
		border-radius: 5px;
		-webkit-transform:scaleX(0);
		transform:scaleX(0);
		-webkit-transform-origin:0 50%;
		transform-origin:0 50%;
		-webkit-transition-property:transform;
		transition-property:transform;
		-webkit-transition-duration:.5s;
		transition-duration:.5s;
	    -webkit-transition-timing-function:ease-out;
	    transition-timing-function:ease-out
	} 
	    .hvr-bounce-to-right:active,.hvr-bounce-to-right:focus,.hvr-bounce-to-right:hover{color:#fff}
	    .hvr-bounce-to-right:active:before,.hvr-bounce-to-right:focus:before,.hvr-bounce-to-right:hover:before{
	    	  -webkit-transform:scaleX(1);
	    	  transform:scaleX(1);
	    	  -webkit-transition-timing-function:cubic-bezier(0.52,1.64,.37,.66);
	    	  transition-timing-function:cubic-bezier(0.52,1.64,.37,.66)}
	    .hvr-bounce-to-left{
	    	display:inline-block;
	    	vertical-align:middle;
	    	-webkit-transform:translateZ(0);
	    	transform:translateZ(0);
	    	box-shadow:0 0 1px rgba(0,0,0,0);
	    	-webkit-backface-visibility:hidden;
	    	backface-visibility:hidden;
	    	-moz-osx-font-smoothing:grayscale;
	    	position:relative;
	    	-webkit-transition-property:color;
	    	transition-property:color;
	    	-webkit-transition-duration:.5s;
	    	transition-duration:.5s
	    }
	   	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
		    background-color: rgba(51, 51, 51, 0);
		}
		.navbar-inverse .navbar-toggle {
		    border-color: rgba(51, 51, 51, 0);
		}
		#menu.active {
		    img{
		    	width: 60px;
		    }
		}
		.gr, .gr:hover, .wb, .wb:hover{
	        background-size: 85%;
	    }
	    .habilidades .ds{
		    height: 29em;
		}
		.title{
			font-size: 1em;
		}
		.cbp-item{
		    width: 100% !important;
		}
		footer{
			text-align: center;
			h6{
				text-align: center;
			}
		    .txt-al{
		        text-align: center;
		    }
		}

}
@media (min-width: 768px) and (max-width: 991px) {
	
	canvas{
		margin-top: 22em;
		width: 45%;
	}
	.navbar-nav{
		transform: translateX(-2.5em);
		transition: all 0.8s ease-in-out;
	}
	.gr, .gr:hover, .wb, .wb:hover{
        background-size: 82%;
    }
    .habilidades .ds{
		    height:21em;
	}
	.cbp-item{
	    width: 100% !important;
	}
	.cbp-item{
	    width: 50% !important;
	}
	footer{
			text-align: center;
		    .txt-al{
		        text-align: center;
		    }
	}
}
@media (min-width: 991px) and (max-width: 1199px){
	.navbar-nav{
		transform: translateX(-8em);
		transition: all 0.8s ease-in-out;
	}
	.gr, .gr:hover, .wb, .wb:hover{
		background-size: 80%;
	}
	.ds{
		    height: 28em;
	}
	.cbp-item{
	    width: 50% !important;
	}
}